<div th:fragment="armorPart(armorPartName, armorList, partClass, armorSkillsJsonMap)" class="armor-part" th:classappend="${partClass}">
  <div th:id="${armorPartName} + 'Preview'" onclick="showDropdown(this)" style="cursor: pointer;">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Defense</th>
        <th>Skills</th>
        <th>Resistances</th>
      </tr>
      </thead>
      <tbody>
      <tr th:id="${armorPartName} + '-row'"><td colspan="4">Click to select</td></tr>
      </tbody>
    </table>
  </div>
  <div th:id="${armorPartName} + 'Dropdown'" style="display: none;">
    <table th:id="${armorPartName} + 'Table'">
      <thead>
      <tr>
        <th>Name</th>
        <th>Defense</th>
        <th>Skills</th>
        <th>Resistances</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="armorItem : ${armorList}"
          th:data-armor-part-name="${armorPartName}"
          th:data-armor-skills="${armorSkillsJsonMap[armorItem.getIndex()]}"
          onclick="selectArmor(this)">
        <td th:text="${armorItem.getName()}"></td>
        <td th:text="${armorItem.getDefense()}"></td>
        <td th:text="${armorItem.printSkills()}"></td>
        <td>
          <span th:each="entry : ${armorItem.getResistances()}" th:with="elementName=${entry.key}">
              <img th:src="@{../images/} + ${elementName} + '.png'" th:alt="${elementName} + ':'" class="elementIcon" />
              <span th:text="${entry.value}" class="bodyResistanceValue"></span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>