<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/menu.css}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <title>Armor Planner</title>
</head>
<body>
<div class="background"></div>

<div th:replace="~{armorPart :: armorPart('head', ${lrHeadArmor}, 'headArmor', ${lrHeadJSONMap})}"></div>
<div th:replace="~{armorPart :: armorPart('arm', ${lrArmArmor}, 'armArmor', ${lrArmJSONMap})}"></div>
<div th:replace="~{armorPart :: armorPart('body', ${lrBodyArmor}, 'bodyArmor', ${lrBodyJSONMap})}"></div>
<div th:replace="~{armorPart :: armorPart('waist', ${lrWaistArmor}, 'waistArmor', ${lrWaistJSONMap})}"></div>
<div th:replace="~{armorPart :: armorPart('leg', ${lrLegArmor}, 'legArmor', ${lrLegJSONMap})}"></div>

<div id="overallArmor"></div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script th:src="@{/scripts/dropdown.js}"></script>
</body>
</html>