<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <link th:href="@{/css/menu.css}" rel="stylesheet" >
        <title>Armor Planner</title>
    </head>

    <body>

        <div class="background"></div>

        <div class="skillsBox">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="skill : ${skills}">
                    <td th:text="${skill.name}"></td>
                </tr>
            </table>
        </div>

        <div class="headArmor">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="headArmor : ${lrHeadArmor}">
                    <td th:text="${headArmor.getName()}"></td>
                    <td th:text="${headArmor.getDefense()}"></td>
                </tr>
            </table>
        </div>

        <div class="waistArmor">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="waistArmor : ${lrWaistArmor}">
                    <td th:text="${waistArmor.getName()}"></td>
                    <td th:text="${waistArmor.getDefense()}"></td>
                </tr>
            </table>
        </div>

        <div class="legsArmor">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="legArmor : ${lrLegArmor}">
                    <td th:text="${legArmor.getName()}"></td>
                    <td th:text="${legArmor.getDefense()}"></td>
                </tr>
            </table>
        </div>

        <div class="armsArmor">
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <tr th:each="ArmArmor : ${lrArmArmor}">
                <td th:text="${ArmArmor.getName()}"></td>
                <td th:text="${ArmArmor.getDefense()}"></td>
            </tr>
        </table>
        </div>

        <div class="bodyArmor">
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="bodyArmor : ${lrBodyArmor}">
                    <td th:text="${bodyArmor.getName()}"></td>
                    <td th:text="${bodyArmor.getDefense()}"></td>
                </tr>
            </table>
        </div>
        
    </body>
</html>